@import "tailwindcss";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

*{
  box-sizing: border-box;
  color: #F7F6F4;
  font-family: "Inter", sans-serif;
}

body {
    background-color: #0a1720;
    background-image: linear-gradient(#cacfd80d .1em, #0000 0), linear-gradient(90deg, #c9ced80d .1em, #0000 0);
    background-size: 2em 2em;
    background-attachment: fixed;
}

.section{
  border-radius: 3px;
  padding: 0.05rem 0.25rem;
  color: #0A1720;
  text-align: center;
  font-weight: 600;
  width: fit-content;
  font-size: 1.2rem;
}

.heading{
  font-weight: 600;
  width: fit-content;
  font-size: 1.4rem;
}

.skill{
  padding: 0.05rem 0.25rem;
  text-align: center;
  width: fit-content;
  border: 1px solid #d9d7d9d2;
  border-radius: 0.5rem;
}

.container{
  display: flex;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border: 1px solid #ebeae92b;
  background-color: #141c2e;
}

.paragraph{
  color: #f7f6f4af;
  font-weight: 300;
}

.thumbnail{
  border: 1px solid #ebeae92b;
  object-fit: cover;
  border-radius: 3px;
  cursor: pointer;
}

.pink{
  color: #EB649F !important;
}

.yellow{
  color: #E1E366 !important;
}